.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner img{
    width: 100%;

}

.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

.plataformas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;

}

.plataformas img{
    width: 100%;
    height: 100%;
}

