.tendencias{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
}

.tendencias h1{
    text-align: center;
}

.tendencias-container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
}

.tendencias-item{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
}

.tendencias-item img{
    width: 100%;
}


.tendencias-item p{
    text-align: justify;
}

.tendencias-item div{
    text-align: center;
    padding: 10px;
}

@media only screen and (min-width: 429px) {
    .tendencias-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 429npx) {
    .tendencias-container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 10px;
    }
}

.tendencias-item{
    color: #41CAD9;
}

.tendencias-item:hover{
    color: #F8F8F8;
    background-color: var(--color-aquamarina);
}

.tendencias-item:hover h2{
    color: white;
}

.tendencias-item:hover h3{
    color: white;
}

.tendencias-item:hover p{
    color: white;
}

.tendencias-item:hover div{
    color: white;
}

.tendencias-item:hover img{
    opacity: 0.5;
}

.tendencias-item:hover{
    cursor: pointer;
}	