
body{
  background-color: #262626;
  font-family: 'Roboto', sans-serif;
}

.logo_menu{
  height: 48px;
}


.menu{
  background-color: #0D0D0D;
  color: #41CAD9;
  height: 58px;
  width: 100%;
  display: grid;
  grid-template-columns: 90% 5% 5%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;

}

ul.menu li:hover {
  background-color: #205f66;

}

ul.menu li{
  height: 58px;
}

ul.menu li a{
  text-decoration: none;
  color: #41CAD9;
  height: 58px;
  list-style-type: none;
}

footer {
  flex: 0 0 auto;
  background-color: #0D0D0D;
  color: #41CAD9;
  height: 48px;
  vertical-align: middle;
  text-align: center;
}


@media only screen and (min-width: 428px) {
  .menu-movil{
      display: none;
  }
}


@media only screen and (max-width: 428px) {
  .menu-escritorio{
      display: none;
  }
}
