
body{
  background-color: #262626;
  font-family: 'Roboto', sans-serif;
}

.logo_menu{
  height: 48px;
}


footer {
  background-color: var(--color-negro-oscuro);
  margin-top: auto;
}

footer p{
  color: var(--color-cian);
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.contenido{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/*
.menu{
  background-color: #0D0D0D;
  color: #41CAD9;
  height: 58px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

ul.menu li a{
  color: #41CAD9;
  height: 58px;
  align-items: center;
  text-align: center;
  vertical-align: auto;
  margin-left: 10px;
}

@media only screen and (min-width: 428px) {
  .menu-movil{
      display: none;
  }
}


@media only screen and (max-width: 428px) {
  .menu-escritorio{
      display: none;
  }
}

*/