body{
  background-color: #262626;
  font-family: 'Roboto', sans-serif;
}

.logo_menu{
  height: 48px;
}


.menu{
  background-color: #0D0D0D;
  color: #41CAD9;
  height: 58px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul.menu li a{
  text-decoration: none;
  color: #41CAD9;
}



@media only screen and (min-width: 428px) {
  .menu-movil{
      display: none;
  }
}


@media only screen and (max-width: 428px) {
  .menu-escritorio{
      display: none;
  }
}
